@media (max-width:1150px){
    body{
        font-size: 30px;
    }
    header{
        flex-direction: column;                 
    }
    nav{
        padding: 10px 0px 0px 20px;
    }
    #content-items{
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    img.redimension{
        height: 700px;
        width: 100%;
    }
    img.oferta{
        width: 100%;        
        margin-top: 100px;
    }        
    img.redimension3{    
        height: 50%;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
    img.redimension4{
        height: 50%;
        width: 100%;
    }
    .envios{
        flex-direction: column;
    }
    .android-ios{
        margin-top: 100px;            
    }
    
    .entregas{
        margin-top: 100px;                

    }
    .pedidos{
        margin-top: 100px;                        
    } 

    .login{
        padding-left: 5%;
        padding-right: 15%;
        padding-left: auto;        
    }

    .contenedor{         
        height: 400px;
        justify-content: center;       
        background-color: rgb(63, 189, 194);
    }
    
    .contenedor div{                
        transition: all 500ms;    
    }
    
    .contenedor div p, .contenedor div button{        
        font-size: 10px;    
    }
    
    .contenedor div h3{    
        font-size: 1px;    
    }

    .contenedor div{
        font-size: 10px;     
    }    
   
    .nuestra-historia h1{           
        width: 100%;
        padding-left: 8%;
    }
    
    .nuestra-historia p{
        width: 100%;
        font-size: 18px;
        text-align: justify;
        line-height: 35px;   
        margin-top: 400px;            
    }
    
    .nuestra-historia img{
        width: 400px;  
        padding-right: 70px;  
        padding-right: 150px;    
    }

    .objetivos{    
        height: 700px;                    
        line-height: 30px;                
        flex-direction: column;
        margin-left: 10%;
        margin-right: auto;
    }

    .mision{   
        margin-top: 50px; 
        width: 400px;
        font-size: 30px;
    }
    
    .vision{     
        width: 400px;
        font-size: 30px;  
    }
    
    .valores{     
        width: 400px;
        font-size: 15;
    }
}

body{
    font-size: 25px;
    font-family: sans-serif;
    margin: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: rgb(255,255,255);
}

.terminos-condiciones{
    color: rgb(0, 64, 240);
}

header{
    font-size: 15px;
    display: flex;
    min-height: 65;
    background-color: rgb(63, 189, 194);
    justify-content: space-between;
    align-items: center;  
    padding: 10px;  
}

.logo{
    display: flex;
}

.logo img{
    height: 60px;        
    margin-right: 30px;    
    margin-left: 30px;   
    padding-top: 8px;   
}

.logo h1{        
    color: rgb(255,255,255);    
}

nav a{
    font-weight: 600;
    padding-right: 50px;
}

nav a:hover{
    color: rgb(141, 141, 141);
}

#content-items{
    height: 350;
    width: 900;
    overflow: hidden;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;    
}

.carrusel{        
    height: 100%;
    position: relative;
}

.imagen-carrusel{    
    height: 100%;
}

.flechas-carrusel i img{
    height: 50px;
}

.flechas-carrusel{        
    position: absolute;
    top: 0;    
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer {
    margin-top: 30px;
    position: fixed;
    bottom:0;
    width:100%;
    height:40px;
    color: #fff;
    background-color: rgb(63, 189, 194);
} 

#footer h4{
    text-align: center;
    margin-top: 10px; 
    font-size: 15px;    
}

.video{
    height: 600;
    width: 900;
    overflow: hidden;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;    
    margin-bottom: 100px;   
}

.redes-sociales i img{
    height:50px;
}


.btn-whats{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;        
    text-align: center;
    font-size: 30px;
    margin-bottom: 500px;
}

.btn-facebook{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;        
    text-align: center;
    font-size: 30px;
    margin-bottom: 400px;
}

.btn-instagram{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;        
    text-align: center;
    font-size: 30px;
    margin-bottom: 300px;
}

img.redimension{
    max-width: 100%;
    max-height: auto;    
    filter: brightness(50%);
}

.anuncio{
    position: relative;
    display: inline-block;
    text-align: center;    
}

.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;    
    top: 50%;
    left: 50%;    
    color: #fff;        
}
.texto-primario{    
    transform: translate(-50%, -170%);    
    font-size: 35px;    
}    
.texto-secundario{
    transform: translate(-50%, -200%);
    font-size: 18px;    
}   

img.oferta{
    display: flex;    
    max-width: 700px;
    margin-top: 100px;      
    max-height: auto;
    margin-left: auto;
    margin-right: auto;    
}

.imagenes-oferta h2{
    text-align: center;
    color:rgb(0, 110, 255);
    font-size: 50px;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 100px;
}

.imagenes-oferta h3{
    text-align: center;
    color:rgb(70, 70, 70);
    font-size: 20px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 50px;    
}

#tabla-medicamentos{
    display: flex;
    margin-bottom: 100px;
    text-align: center;   
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    vertical-align: middle;
    border: 1px solid #000;
    border-spacing: 0;      
}

#tabla-medicamentos th{
    height: 50px;
    border: 1px solid #000;      
    width: 600px;   
}

#tabla-medicamentos td{
    height: 50px;
    border: 1px solid #000;
    width: auto;
}

.filtro{
    display: none;
}
.filtro2{
    display: none;
}
.filtro3{
    display: none;
}
.filtro4{
    display: none;
}

.boton-search{    
    display: flex;
    align-items: center;    
}

.boton-search input{    
    height: 50px;
    margin-left:35%;  
    margin-right: 30%;   
    width: 30%;
    background-color: #fff;
    margin-bottom: 50px;     
    border-radius: 40px;     
}

.boton-search ::placeholder{
    color:rgb(0, 0, 0)    
}

img.redimension2{
    max-width: 100%;     
    filter: brightness(50%);
}

.anuncio2{
    position: relative;
    display: inline-block;
    text-align: center;    
}

.texto-encima2{
    position: absolute;
    top: 10px;
    left: 10px;    
    top: 50%;
    left: 50%;    
    color: #fff;        
}

.texto-primario2{    
    transform: translate(-50%, -120%);    
    font-size: 30px;    
}    
.texto-secundario2{
    transform: translate(-50%, -300%);
    font-size: 18px;    
} 

.buscar-sucursal{
    font-size: 50px;
    text-align: center;
    color:rgb(0, 110, 255);
}

.boton-search2{    
    display: flex;
    align-items: center; 
    margin-top: 100px;   
}

.boton-search2 input{    
    height: 50px;
    margin-left:35%;  
    margin-right: 30%;   
    width: 30%;
    background-color: #fff;
    margin-bottom: 50px;     
    border-radius: 40px;     
}

.boton-search2 ::placeholder{
    color:rgb(0, 0, 0)    
}

#tabla-sucursales{
    margin-bottom: 100px;
    text-align: center;   
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    vertical-align: middle;
    border: 1px solid #000;
    border-spacing: 0;      
}

#tabla-sucursales th{
    height: 50px;
    border: 1px solid #000;      
    width: 600px;   
}

#tabla-sucursales td{
    height: 50px;
    border: 1px solid #000;
    width: auto;
}

.redimension3{    
    height: 100%;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

.texto-promociones{
    color:rgb(0, 110, 255);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px; 
}

.envios{
    margin-top: 50px;
    display: inline-flex;
    min-height: 65;    
    justify-content: space-between;
    align-items: center;  
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.envios img{
    width: 100px;
}

.envios h1{
    color: #000;
}

.envios p{
    min-width: 200px;
    font-size: 25px;
}

.android-ios{
    margin-top: 120px;
    width: 600px;
}

.entregas{
    margin-top: 80px;      
    width: 600px;  
}

.pedidos{
    margin-top: 80;    
    width: 600px;
}

.descargar-app{
    margin-top: 150px;
    margin-bottom: 100px;
    text-align: center;
}

.descargar-app h1{
    color:rgb(0, 110, 255);
    font-style: bold;
    text-align: center;     
}

.descargar-app button{
    width: 400px;
    height: 100px;
    background-color:rgb(0, 110, 255);
    color: #fff;
    font-size: 20px;
    border-radius: 100px;    
    border-color:rgb(0, 110, 255) ;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.descargar-app button:hover{
    background-color:rgb(0, 68, 255);
}

.descargar-app img{
    width: 45px;
    margin-right: 10px;
}

.btn-ios{    
    margin-top: 60px;
    margin-bottom: 60px;
}

.login{
    max-width: 100%;
    max-width: 1000px;
    max-height: 800px;    
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.contenedor{
    margin-top: 150px;    
    width: 100%;    
    padding: 0px 50px;    
    justify-content: center;
   /* background-color: rgb(0, 110, 255);*/
    background-color: rgb(63, 189, 194);    
}

.contenedor div{
    margin-left: 600px;
    padding: 10px;
    color:#fff;
    transition: all 500ms;    
}

.contenedor div p, .contenedor div button{
    margin-top: 0px;
}

.contenedor div h3{
    font-weight: 400px;
    font-size: 26px;
}

.contenedor button{
    padding: 10px 40px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    outline: none;
    transition: all 300ms;    
}

.contenedor button:hover{
    background:#fff;
    color: rgb(0, 68, 255);
}

.contenedor-login-register{
    display: flex;    
    align-items: center;
    width: 100%;
    position: relative;
    top: -222px;
    left: 60px;    
}

.contenedor-login-register form{
    max-width: 400px;    
    padding: 80px 20px;    
    background: rgb(255, 255, 255);
    position: absolute;
}

.contenedor-login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    /*color: rgb(0, 110, 255);*/
    color: rgb(63, 189, 194);
}

.contenedor-login-register form input{
    width: 90%;
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 15px;    
    font-size: 16px;
    outline: none;
}

.contenedor-login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    /*background: rgb(0, 110, 255);*/
    background-color: rgb(63, 189, 194);
    color: #fff;
    cursor: pointer;
    outline: none;
}

.formulario-login{    
    display: block;
}

.formulario-register{
    display: none ;
}

img.redimension4{
    max-width: 100%;
    max-height: auto;    
    filter: brightness(50%);
}

.texto-encima3{
    position: absolute;
    top: 10px;
    left: 10px;    
    top: 50%;
    left: 50%;    
    color: #fff;  
    text-align: center;      
}

.texto-primario3{    
    transform: translate(-50%, -320%);    
    font-size: 30px;        
}    
.texto-secundario3{
    transform: translate(-50%, -200%);
    font-size: 18px;    
} 

.nuestra-historia{  
    width: 90%;      
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;   
    /*width: 90%; */     
}

.nuestra-historia h1{    
    color: rgb(0, 110, 255);
    text-align: center;            
    min-width: 50%;
    padding-left: 8%;
    margin-bottom: 70px;
}

.nuestra-historia p{    
    min-width: 50%;
    padding-left:8%;
    font-size: 20px;
    text-align: justify;
    line-height: 35px;          
}

.nuestra-historia img{    
    max-width: 600px;
    float: right;    
    display: flex;    
    padding-left: 100px;
}

.objetivos{    
    display: inline-flex;
    min-height: 65;    
    justify-content: space-between;
    align-items: center;  
    text-align: center;
    min-width: 80%;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.mision{   
    min-width: 400px;
    font-size: 20px;
    margin-right: 100px;
    background-color: rgb(245, 242, 238);
}

.vision{     
    min-width: 400px;
    font-size: 20px;  
    margin-right: 100px;
    background-color: rgb(245, 242, 238);
}

.valores{     
    min-width: 400px;
    font-size: 20px;
    text-align: center;
    padding-right: 100px;
    background-color: rgb(245, 242, 238);
}

.valores ul{
    text-align: left;    
}
